@media screen and (max-width: 610px) {
  .container{
    width: 95%;
  }
}

@media screen and (max-width: 260px) {
  .coin-container{
    width: 95%;
  }

  .container>button{
    width: 95%;
  }
}